@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: 'DMSans';
  src: url('/fonts/DMSans/DMSans-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: 'DMSans';
  src: url('/fonts/DMSans/DMSans-SemiBold.woff2') format('woff2');
}