.keyboard {
  background-color: var(--background);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: var(--font-body);
  overflow: hidden;
  padding: 14px;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%
}

.keyboard .hg-button span,
.keyboard .hg-button span svg {
  pointer-events: none
}

.keyboard button.hg-button {
  border-width: 0;
  font-size: inherit;
  outline: 0
}

.keyboard .hg-button {
  display: inline-block;
  flex-grow: 1
}

.keyboard .hg-row {
  display: flex
}

.keyboard .hg-row:not(:last-child) {
  margin-bottom: 6px
}

.keyboard .hg-row .hg-button-container,
.keyboard .hg-row .hg-button:not(:last-child) {
  margin-right: 6px
}

.keyboard .hg-row>div:last-child {
  margin-right: 0
}

.keyboard .hg-row .hg-button-container {
  display: flex
}

.keyboard .hg-button {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-bottom: 1px solid var(--border);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 4px;
  will-change: box-shadow, translate;
  transition-property: box-shadow, translate;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border: 2px solid var(--border);
}

.keyboard .hg-button:hover {
  box-shadow: none;
  translate: var(--box-shadow-x) var(--box-shadow-y);
}


.keyboard .hg-button.hg-button-bksp {
  width: 60px;
  font-size: 18px;
}